* {
  font-family: Iosevka;
  font-size: 12pt;
  color: white;
  border: none;
  border-radius: 0;
  box-shadow: none;
  text-shadow: none;
  transition-duration: 0s;
}

window#waybar {
  background: #04132A;
  opacity: 0.9;
}

#window,
#memory,
#disk,
#pulseaudio,
#custom-weather,
#custom-powermenu,
#cpu {
  padding-left: 1rem;
  padding-right: 1rem;
}

#custom-weather {
  padding-left: 2rem;
  font-weight: bold;
}

#workspaces {
  background: #053867;
  color: white;
  font-weight: bold;
  border-radius: 0 1rem 1rem 0;
}
#workspaces button {
  background: transparent;
}

#workspaces button.focused {
  background: #05294D;
  border-radius: 1rem;
}

#taskbar {
  background: #053867;
  border-radius: 1rem;
}
